/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Open+Sans:ital,wght@0,400;1,600&family=Playfair+Display:ital,wght@0,400;1,600&family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Inter', sans-serif;
    color:#495057;
  }
  .accordion {
    display: flex;
    margin: 100px auto;
    width: 700px;
    flex-direction: column;
    gap: 15px;

  }
  .item{

    box-shadow: 0 0 32px rgba(
      0, 0, 0, 0.1) ;
      padding: 24px;
      display: grid;
      grid-template-columns: auto 1fr auto ;
      column-gap: 24px;
      row-gap: 32px;
      align-items: center;
  }
  .number, .text{
font-size: 24px;
font-weight: 500; 
color: rgb(0, 88, 58);
}
 .number{
  color: #ced4da;
 }
  
  .icon{
    width: 24px;
    height: 24px;
    stroke: rgb(0, 88, 58);
  }
  .hidden-box{
    display: none;
    grid-column: 2;
  }
  .hidden-box h4{
    line-height: 1.4;
    margin-bottom:24px;
   
  }
.hidden-box li{
    color: rgb(101, 106, 116);
    margin-left: 20px;

}
.hidden-box ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}



.open{
  border-top: green solid 4px;
  
}
.open .hidden-box{
  display: block;
}
.open .number{
   color: #087f5b;
} */